<div class="text-success">
  <%= flash[:notice] %>
</div>
<div class="text-danger">
  <%= flash[:alret] %>
</div>

<% if @book.errors.any? %>
 <%= @book.errors.count %>errors occured:
 <ul>
   <%= @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
   <% end %>
 </ul>
<% end %>

<p><strong>Title: </strong><%= @book.title %></p>
<p><strong>Body: </strong><%= @book.body %></p>
 <%= link_to 'Edit', edit_book_path(@book.id) %>

 ｜

 <%= link_to 'Back', "/books" %>

